.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    padding: 50px;
}

.profile h1 {
    color: #D3573C;
    font-size: 4rem;
}

.profile .location {
    color: #D3573C;
    font-size: 1.5rem;
}

.profile .tagline {
    font-size: 1.2rem;
}

.media-section {
    margin: 50px 100px;
}



/* Collection sorter */

.collection-sorter {

    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
}

.sorter-button {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    background-color: #901C1C;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    padding: 15px;
}

.sorter-dropdown {
    position: absolute;
    z-index: 1;
    background-color: #901C1C;
    color: #fff;
    font-size: 1rem;
    width: 150px;
    border-radius: 0 0 5px 5px;
    visibility: hidden;

    transition: 0.5s ease;
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
}

.sorter-dropdown li {
    border-top: 1px solid #fff;
    padding: 10px;
    cursor: pointer;
}

.sorter-dropdown li:hover {
    background-color: #D3573C;
}

/* Active dropdown */

.collection-sorter.active .sorter-button {
    border-radius: 5px 5px 0 0;
}

.collection-sorter.active .button-arrow {
    transform: rotate(180deg);
}

.collection-sorter.active .sorter-dropdown {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}

.media-gallery {
    margin-top: 20px;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(3, 1fr);
}

.media-gallery article {
    aspect-ratio: 1;
}

.media-gallery .media {
    height: calc(100% - 32px);
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.media-gallery .media-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    height: 32px;
}

.media-gallery h2 {
    height: 32px;
    font-weight: normal;
    font-size: 1.5rem;
    color: #901C1C;
    overflow: hidden;
    text-overflow: ellipsis;

}

.heart {
    font-size: 1.5rem;
    color: #901C1C;
    display: flex;
    align-items: center;
    height: 32px;
    cursor: pointer;
}

.heart::after {
    content: ' ';
    height: 24px;
    width: 24px;
    margin-left: 8px;
    overflow: hidden;
    background-color: #901C1C;
    mask-image: url('../assets/icons/favorite.svg');
}

.heart.liked {
    color: #D3573C;
}

.heart.liked::after {
    background-color: #D3573C;
}



.extra-infos {
    border-radius: 5px 5px 0 0;
    padding: 10px;
    display: flex;
    gap: 20px;
    font-size: 1.5rem;
    color: #000;
    position: fixed;
    bottom: 0;
    right: 50px;
    height: 50px;
    background-color: #DB8876;
}

.extra-infos .like-counter {
    color: #000;
    padding: 10px;
}

.extra-infos .like-counter::after {
    background-color: #000;
}





.button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #D3573C;
    color: #000;
}








.modal-contact {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal-contact header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.modal-contact .modal-button-close {
    font-size: 5rem;
    color: #fff;
    cursor: pointer;
}

.modal-contact header h2 {
    font-size: 64px;
    font-weight: normal;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

form textarea {
    width: 100%;
    height: 150px;
    border: none;
    border-radius: 5px;
}

form button {
    margin-top: 20px;
}

.modal-anchor {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.9);
}

.modal {
    display: none;
}


.lightbox-button-close {
    position: absolute;
    top: 50px;
    right: 50px;
}


.modal-lightbox {
    height: 100%;
    width: 100%;
    display: none;
    /*display: flex;*/
    align-content: space-between;
    justify-content: center;
    align-items: center;
}


.modal-lightbox .lightbox-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    color: #901C1C;
    font-size: 2rem;
    padding: 50px;
}

.modal-lightbox .media {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}


.lightbox-button {
    font-size: 5rem;
    color: #901C1C;
}