@import url('./base_reset.css');
@import url('./base_style.css');


.photographers-list {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 100px;
}

.photographers-list article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 25px;
    border-radius: 15px;
}

.photographers-list article:focus-within,
.photographers-list article:hover {
    background-color: #fafafa;
    outline: solid 1px #525252;
}

.photographers-list a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photographers-list a:focus {
    outline: none;
}

.photographers-list article h2 {
    color: #D3573C;
    font-size: 2rem;
}

.photographers-list .location {
    font-size: 13px;
    color: #901C1C;
}

.photographers-list .tagline {
    font-size: 10px;
}

.photographers-list .price {
    font-size: 9px;
}

